<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300,700&display=swap"
			rel="stylesheet"
		/>
		<title>Metal & Coffee</title>
	</head>
	<body>
		<h1>Metal & Coffee Bot</h1>
		<section>
			<h2>Add new command</h2>
			<form id="new-command" action="" method="post" class="command-inputs">
					<label for="command-name">Command Name:
						<input type="text" name="command-name" id="command-name" placeholder="!command" required />
					</label>
					<label for="command-message">Message:
						<textarea id="command-message" name="command-message" rows="5" placeholder="Enter command text..." required></textarea>
					</label>
				</div>
				<div>
					<button type="submit">Add New Command</button>
					<button class="all-commands">See All Commands</button>
				</div>
			</form>
		</section>
		<section>
			<h2>Add new timer</h2>
			<form id="new-timer" action="" method="post" class="timer-inputs">
					<label for="timer-name">Timer Name:
						<input type="text" name="timer-name" id="timer-name" placeholder="timer-name" required />
					</label>
					<label for="timer-message">Message:
						<textarea id="timer-message" name="timer-message" rows="5" placeholder="Enter timer text..." required></textarea>
					</label>
				</div>
				<div>
					<button type="submit">Add New Timer</button>
					<button class="all-Timers">See All Timers</button>
				</div>
			</form>
		</section>
		<!-- Scripts -->
		<script src="main.js"></script>
	</body>
</html>
