<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300,700&display=swap"
			rel="stylesheet"
		/>
		<title>Metal & Coffee</title>
	</head>
	<body>
		<h1>Metal & Coffee Bot</h1>
		<h2>Add new command</h2>
		<form action="" method="post" class="command-inputs">
				<label for="name">Command Name:
					<input type="text" name="name" id="name" placeholder="!command" required />
				</label>
				<label for="message">Message:
					<textarea id="message" name="message" rows="5" placeholder="Enter command text..." required></textarea>
				</label>
			</div>
			<button type="submit">Add New Command</button>
		</form>
	</body>
</html>
