<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Metal & Coffee</title>
	</head>
	<body>
		<h1>Metal & Coffee Bot</h1>
		<h2>Add new command</h2>
		<button>Commands</button>
		<button>See All Commands</button>
		<button>Add New Command</button>
		<button>Change Command</button>
		<button>Delete Command</button>
		<form action="" method="get" class="form-example">
			<div class="form-example">
				<label for="name">Command Name: </label>
				<input type="text" name="name" id="name" required />
			</div>
			<div class="form-example">
				<label for="message">Message: </label>
				<textarea
					id="message"
					name="message"
					rows="5"
					cols="33"
					required
				></textarea>
			</div>
			<div class="form-example">
				<input type="submit" value="Add" />
			</div>
		</form>
	</body>
</html>
